@model List<Monument.Service.Statistic>

<table id="stats">
    <tr>
        <th>
            Monument
        </th>
        <th>
            Time
        </th>
        <th>
            Language
        </th>
        <th>
            Coordinates
        </th>
    </tr>
    @foreach (var statistic in Model)
    {
        <tr>
            <td>
                <img src="~/Content/Images/@(statistic.Id).jpg" width="70" />
            </td>
            @*<td>
                @statistic.Id
            </td>*@
            <td>
                @statistic.Time.ToLongTimeString()
            </td>
            <td>
                @statistic.Locale
            </td>
            <td>
                @statistic.Latitude, @statistic.Longtitude
            </td>
        </tr>
    }
</table>
